#productosPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 120px;
}
#productosPage h3 {
  color: white;
  background-color: #accc47;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.card {
  width: 240px;
  height: 120px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-size: cover;
  background-position: center;
  border: solid 1px #ccc;
  box-shadow: black;
}
.card-selected {
  color: red;
}
.card h2 {
  text-align: center;
  color: white;
  font-size: 24pt;
}
.card:hover {
  cursor: pointer;
  border: solid 2px #8da934;
  filter:grayscale(100%);
}

.descripcionProductos {
  background-color: #accc47;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardDescription {
  margin: 10px;
  width: 200px;
  border-radius: 10px;
  color: white;
}
.cardDescription h4 {
  text-align: center;
  margin-bottom: 0;
  padding: 10px;
}
.cardDescription ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 10px;
}


#scroll-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  position: relative;
}
#scroll-gallery svg {
  position: absolute;
  width: 50px;
  cursor: pointer;
  fill: white;
  background-color: #accc47;
  border-radius: 50%;
  padding: 10px;
}
#scroll-gallery #control-prev {
  left: -35px;
  top: 50%;
}
#scroll-gallery #control-next {
  right: -35px;
  top: 50%;
}

#scroll-gallery .image-container {
  display: flex;
  overflow: hidden;
}

#scroll-gallery .image-container img {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  transition: ease-in-out;
}
