* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}



h2 {
  font: 900 32pt "Noto Sans", sans-serif;
  color: #accc47;
}

#quienessomos {
  margin-top: 30px;
  display: flex;
  align-items: center;
  height: 100dvh;
}

#quienessomos img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.text-container {
  padding: 5%;
  text-align: justify;
}
.text-conteiner h2 {
  margin-left: 0;
}

#socios {
  margin-top: 30px;
  background-color: #accc47;
}
#socios h2 {
  color: white;
  padding-top: 32px;
  margin: 0 0 0 40px;
}
#socios article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#socios img {
  max-width: 250px;
}


footer {
  background-color: #accc47;
  height: 500px;
}
footer img {
  width: 200px;
  padding-top: 40px;
}





