* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

h2 {
  font: 900 32pt "Noto Sans", sans-serif;
  color: #accc47;
}

#quienessomos {
  margin-top: 30px;
  display: flex;
  align-items: center;
  height: 100dvh;
}

#quienessomos img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.text-container {
  padding: 5%;
  text-align: justify;
}
.text-conteiner h2 {
  margin-left: 0;
}

#socios {
  margin-top: 30px;
  background-color: #accc47;
}
#socios h2 {
  color: white;
  padding-top: 32px;
  margin: 0 0 0 40px;
}
#socios article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#socios img {
  max-width: 250px;
}

footer {
  background-color: #1f1f1f;
  margin-top: 40px;
}
.footer-cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin: 0 40px;
}
.footer-cabecera img {
  width: 120px;
}
.footer-cabecera a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  padding: 10px;
  background-color: #333;
  border-radius: 10px;
  text-decoration: none;
  color: #ccc;
  fill: #ccc;
}
.footer-cabecera svg {
  width: 50px;
  height: 25px;
}
.footer-main {
  display: flex;
  justify-content: space-around;
}
.footer-info-container {
  color: #ccc;
  fill: #ccc;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 40px;
}
.footer-info-container-el {
  display: flex;
  align-items: center;
}
.footer-info-container-el svg {
  margin-right: 8px;
}
.footer-redes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 40px;
}
.footer-redes-container a svg {
  fill: #ccc;
}